@import 'nav.css';
@import 'footer.css';


.hero-section{
  /* opacity: 80%; */
  /* filter: blur(2px); */
  width: 100%;
  height:calc(100vh - 120px);
  /* background-image: url('../img/header.jpg'); */
  background-image: url('../img/hero-section.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .logo{
  height: 150px;
  display: block;
  margin:auto;
}
.hero-section .sub-heading{
  margin-top: 10px;
  text-align: center;
  color: #FFA500;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 300;
}
 /*product  */
 .product{
   position: relative;
   overflow: hidden;
   padding: 20px 0;
 }

 .product-category{
   padding: 0 10vw;
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 40px;
   text-transform: capitalize;
 }
 .product-container{
   padding: 0 10vw;
   display: flex;
   overflow: auto;
   scroll-behavior: smooth;
 }
 .product-container::-webkit-scrollbar{
   display: none;
 }
.product-card{
  flex:0 0 auto;
  widows: 250px;
  height: auto;
  margin-right: 40px;
}
.product-image{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.product-thumb{
  width: 100%;
  height: 150px;
  object-fit: cover;

}
.discount-tag{
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.card-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product-card:hover .card-btn{
  opacity: 1;
}
.card-btn:hover{
  background: #efefef;
}
.product-info{
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.product-brand{
  text-transform: uppercase;
}
.product-short-des{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.price{
  font-weight: 900;
  font-size: 20px;
}
.actual-price{
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
.pre-btn, .nxt-btn{
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}
.pre-btn{
  left:0;
  transform: rotate(180deg);
}
.nxt-btn{
  right: 0;
}
.pre-btn img, .nxt-btn img{
  opacity: 0.2;
}
.pre-btn:hover img, .nxt-btn:hover img{
  opacity: 1;
}
/* collection */
.collection-container{
  /* padding: 5%;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.collection{
  position: relative;
}
.collection img{
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.special-img {
  width: 100vw;
  height: 20%;
  object-fit: contain;
}

.collection p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}
.collection:nth-child(3){
  grid-column: span 2;
  margin-bottom: 10px;
}
.footer-social-container{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.social-link{
  color: #fff;
  margin-left: 20px;
  text-transform: capitalize;
}
.social-link:nth-child(1){
  margin-left: 0;
}
.footer-credit{
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.parent {
  margin-top: 100px;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.desc{
  width: 50vw;
}

.description{
  color: white;
  font-size: 25px;
  font-weight: bolder;
}